@model Nhom4_DoAnWeb_CHDT.Models.tblTAIKHOAN

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đổi Mật khẩu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <span style="color:red">@ViewData["TaiKhoan"]</span>
    <span style="color:red">@ViewData["Error"]</span>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="password">
            Tài khoản:
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.userID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.userID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="password">
            Mật khẩu:
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            <span style="color:red"> @ViewData["MKYeu"]</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="MatKhauXacNhan">
            Mật khẩu xác nhận:
        </label>
        <div class="col-md-10">
            <input class="form-control text-box single-line input-validation-error"
                   data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                   id="MatKhauXacNhan" name="MatKhauXacNhan" type="password" value="" aria-
                   describedby="MatKhauXacNhan-error" aria-invalid="true">
            <span style="color:red">@ViewData["NhapMKXN"]</span>
            <span style="color:red">@ViewData["MatKhauGiongNhau"]</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "DangNhap", "NguoiDung")
</div>
