@model Nhom4_DoAnWeb_CHDT.Models.tblKHACHHANG

@{
    ViewBag.Title = "Thêm mới Khách Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thêm Khách Hàng</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <fieldset>
            <span style="color:red">@ViewData["Error"]</span>
            <div class="form-group">
                <label class="control-label col-md-2" for="TENNV">Tên Khách Hàng:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="TENKH" name="TENKH" value="@ViewBag.TENKH" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="DIACHI">Địa chỉ:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="DIACHI" name="DIACHI" value="@ViewBag.DIACHI" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="DIENTHOAI">Điện thoại:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="DIENTHOAI" name="DIENTHOAI" value="@ViewBag.DIENTHOAI" />
                </div>
                <span style="color:red">@ViewData["SDTKhongHopLe"]</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="EMAIL">Email:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="EMAIL" name="EMAIL" value="@ViewBag.EMAIL" />
                </div>
                <span style="color:red">@ViewData["EmailKhongHopLe"]</span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm mới" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}
<div>
    @Html.ActionLink("Quay lại", "danh_sach")
</div>
