@model Nhom4_DoAnWeb_CHDT.Models.tblNHAPKHO
@{
    ViewBag.Title = "Thông tin nhập kho";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Thông tin nhập kho</h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <p>Mã phiếu nhập kho: @Model.MAPNK</p>
                <p>Ngày nhập: @Model.NGAYNHAP</p>
                <p>Mã nhà cung cấp: @Model.MANCC</p>
                <p>Mã nhân viên: @Model.MANV</p>
                <p>Tổng tiền: @Model.TONGTG</p>
            </div>
            @if (ViewBag.ctnk != null && ViewBag.ctnk.Count > 0)
            {
                <div class="col-md-6">
                    <h3>Chi tiết phiếu nhập kho:</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col" class="text-center">Mã điện thoại</th>
                            <th scope="col" class="text-center">Số lượng</th>
                            <th scope="col" class="text-center">Đơn giá</th>
                        </tr>
                        @foreach (var item in ViewBag.ctnk)
                        {
                            <tr>
                                <td class="text-center">@item.MADT</td>
                                <td class="text-center">@item.SL</td>
                                <td class="text-center">@item.GIANHAP</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>
<br />
<div class="col-md-12">
    @Html.ActionLink("Quay lại", "danh_sach_NK", "NhapKho")
</div>
